<!DOCTYPE html>

<html>
<head>
    <title>Symfony is awesome</title>
</head>
<body>
<h1>Bonjour {{ name }}, Bienvenue</h1>

<ul>
    {% for index, day in days %}
    <li>{{ index }}: {{ day }}</li>
    {% endfor %}
</ul>

<p>{{ html }}</p>
<p>{{ html | replace  ({"n'est pas" : "est"}) | raw}}</p>

<a href="{{ path('app_twig_test') }}">Lien vers la page Twig Test</a>
</body>
</html>