{% extends "::base.html.twig" %}

{% block title 'Accueil' %}

{% block header %}

<h1>Bonjour {{ name }}, Bienvenue</h1>

{% endblock %}

{% block content %}
<ul>
    {% for index, day in days %}
        <li>{{ index }}: {{ day }}</li>
    {% endfor %}
</ul>


<p>{{ html }}</p>
<p>{{ html | replace  ({"n'est pas" : "est"}) | raw}}</p>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <a href="{{ path('app_twig_test') }}">Lien vers la page Twig Test</a>
{% endblock %}
