{% extends "::base.html.twig" %}

{% block title 'Ajouter un tweet' %}

{% block header %}

    <h1>Ajout d'un nouveau tweet</h1>

{% endblock %}

{% block content %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.message) }}
    {{ form_rest(form) }}
    <input type="submit" value="Envoyer">
    {{ form_end(form) }}

{% endblock %}

{% block footer %}
    {{ parent() }}
    <a href="{{ path('app_twig_test') }}">Lien vers la page Twig Test</a>
{% endblock %}
